AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow
CONTROL_TOWER_GCP_PROJECT=control-tower-493404
CONTROL_TOWER_RAW_DATASET=raw
CONTROL_TOWER_BQ_LOCATION=US
DBT_PROFILES_DIR=/opt/airflow/.dbt
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/dbt-control-tower-sa.json
HOST_GCP_KEY_DIR=C:/Users/suhas/keys
